include ../mixins/menuItem

nav.menu
    +menuItem({
      dataHref: "./includes/",
      activeLink: true,
      linkName: "Home"
    })
    +menuItem({
      dataHref: "./includes/",
      linkName: "Collection"
    })
    +menuItem({
      dataHref: "./includes/",
      linkName: "About us"
    })
    +menuItem({
      dataHref: "./includes/",
      linkName: "Contact"
    })
