include ../mixins/socialItem

ul.social
    +socialItem({
      className: "social__item social__facebook",
      iconClass: "fab fa-facebook-f"
    })
    +socialItem({
      className : "social__item social__instagam",
      iconClass : "fab fa-instagram"
    })
    +socialItem({
      className : "social__item social__twitter",
      iconClass : "fab fa-twitter"
    })
    +socialItem({
      className : "social__item social__youtube",
      iconClass : "fab fa-youtube"
    })
