@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');
@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: OpenSans, sans-serif;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #4b4b4b;
}

ul, ol, menu, dir {
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

.input {
  &--custom {
    display: flex;
    align-items: center;
    label {
      color: $accentColor;
      font-size: 20px;
      letter-spacing: 1px;
      font-weight: bold;
      padding: 0 5px 0 10px;
      line-height: 1;
    }
    i {
      color: $accentColor;
      font-size: 30px;
    }
    input {
      background-color: transparent;
      border: none;
      border-bottom: 2px solid $accentColor;
      width: 400px;
      outline: none;
      color: #ffffff;
      padding: 0 5px;
      margin-bottom: 5px;
    }
  }
}

input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

@media screen and (max-width: 1024px) {
  .input {
    &--custom {
      label {
        font-size: 18px;
      }
      input {
        width: 300px;
      }
      i {
        font-size: 25px;
      }
    }
  }
}