@import "variables";

h1 {
  font-size: 65px;
  color: $accentColor;
  position: absolute;
  left: -100px;
  width: 200px;
  text-transform: uppercase;
  font-weight: normal;
  margin-top: 100px;
}

@media screen and (max-width: 1440px) {
  h1 {
    font-size: 50px;
  }
}

@media screen and (max-width: 1024px) {
  h1 {
    font-size: 45px;
    left: -50px;
    margin-top: 75px;
  }
}

@media screen and (max-width: 767px) and (orientation: portrait){
  h1 {
    left: 0;
    width: 100%;
    text-align: center;
    position: relative;
    margin-top: 25px;
  }
}