@import "variables";

.logo {
  display: block;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 30px;
  color: $accentColor;
}

@media screen and (max-width: 1024px) {
  .logo {
    font-size: 20px;
  }
}