@import "variables";

.menu {
  display: flex;
  &__item {
    font-size: 30px;
    padding: 30px 50px;
    a {
      color: $accentColor;
      transition: color 0.3s;
    }
  }
}

.menu__item--active {
  a {
    color: #4a919e;
    font-weight: bold;
    text-decoration: underline;
  }
}

.menu__item {
  &:hover {
    cursor: pointer;
    a {
      color: #4a919e;
    }
  }
}

@media screen and (max-width: 1440px) {
  .menu {
    &__item {
      font-size: 20px;
      padding: 25px 40px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .menu {
    &__item {
      font-size: 18px;
      padding: 25px 30px;
    }
  }
}

@media screen and (max-width: 767px) and (orientation: portrait){
  .menu {
    width: 100%;
    display: none;
    flex-direction: column;
    position: absolute;
  }
}