@import "variables";

@keyframes slideShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.slider__container {
  display: flex;
  width: 100%;
  align-items: flex-start;
  align-self: flex-start;
  position: relative;
  height: 500px;
  margin-top: 125px;
  padding-top: 25px;
}

.dots {
  display: flex;
  flex-direction: column;
  top: -20px;
  left: -30px;
  padding-top: 25px;
  position: absolute;
  align-items: flex-start;
  &__item {
    padding: 15px;
    font-weight: bold;
    box-sizing: border-box;
    border: 1px solid $accentColor;
    background-color: transparent;
    color: $accentColor;
    font-size: 18px;
    text-align: right;
    position: relative;
    margin-top: 24px;
    transform: scaleZ(1);
    transition: background-color 0.3s, transform 0.3s;
    &:hover {
      cursor: pointer;
    }
    &::before {
      content: "";
      width: 2px;
      height: 25px;
      background-color: $accentColor;
      position: absolute;
      top: -25px;
      left: 25px;
    }
    &--active {
      transform: scaleX(1.3) scaleY(1.3) translateX(6px);
      background-color: rgba(255, 255, 255, .4);
      margin-top: 32px;
      margin-bottom: 8px;
      &::before {
        content: "";
        transform: scaleX(0.77) scaleY(0.77) translateX(-8px);
        top: -23px;
      }
    }
  }
}

.slider {
  display: flex;
  overflow: hidden;
  &__item {
    display: none;
    opacity: 0;
    min-width: 100%;
    a {
      display: flex;
      align-items: center;
    }
    &--active {
      animation: slideShow 0.3s;
      display: flex;
      opacity: 1;
    }
  }
  &__text {
    display: inline-block;
    width: 40%;
    min-width: 40%;
    max-height: 135px;
    min-height: 135px;
    margin-left: 100px;
    color: $accentColor;
    line-height: 1.6;
    font-size: 14px;
    overflow: hidden;
  }
  &__image {
    display: block;
    width: 50%;
    height: 100%;
    min-height: 100%;
    position: absolute;
    right: -70px;
  }
}

@media screen and (min-width: 1920px) {
  .slider__container {
    height: 650px;
  }
  .slider {
    &__text {
      max-height: 150px;
      font-size: 16px;
    }
  }
}

@media screen and (max-width: 1440px) {
  .slider__container {
    height: 350px;
  }

  .slider {
    &__text {
      font-size: 12px;
    }
    &__image {
      right: -50px;
    }
  }
}

@media screen and (max-width: 1024px){
  .slider__container {
    margin-top: 115px;
    height: 320px;
  }
  .slider {
    &__text {
      margin-left: 75px;
    }
  }
  .dots {
    left: -20px;
  }
}

@media screen and (max-width: 767px) and (orientation:portrait) {
  .slider__container {
    margin-top: 0;
    flex-direction: column;
    height: 350px;
    padding-top: 0;
  }

  .slider {
    order: 0;
    &__text {
      width: 45%;
      min-width: 45%;
      margin-left: 20px;
    }
    &__image {
      right: -30px;
    }
  }

  .dots {
    width: 100%;
    justify-content: center;
    flex-direction: row;
    top: inherit;
    bottom: 0;
    left: 0;
    order: 1;
    &__item {
      margin-top: 0;
      margin-right: 24px;
      &::before {
        width: 25px;
        height: 2px;
        top: 25px;
        right: -25px;
        left: inherit;
      }
      &--active {
        margin-right: 40px;
        &::before {
          content: "";
          right: -29px;
        }
      }
    }
  }
}
