@import "variables";

.social {
  display: flex;
  justify-content: space-between;
  width: 100%;
  &__item {
	@include centerAlign;
    @include circle(35px);
    a {
      width: inherit;
      height: inherit;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      position: relative;
      background-color: $accentColor;
      transition: color;
      border-radius: 50%;
      i {
        color: #755656;
        font-size: 20px;
        transition: color 0.3s;
      }
      &::before {
        content: "";
        width: inherit;
        height: inherit;
        position: absolute;
      }
      &:hover {
        cursor: pointer;
        i {
          color: #212e53;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .social {
    flex-direction: column;
    align-items: center;
    &__item {
      margin: 5px 0;
    }
  }
}

@media screen and (max-width: 767px) and (orientation: portrait) {
  .social {
    flex-direction: row;
    justify-content: center;
    &__item {
      margin: 5px;
    }
  }
}

