$bodyColor: #755656;
$contentColor: #eaadad;
$accentColor: #ffffff;
$accentMenu: #363B5D;

$customPadding: 20px;

@mixin centerAlign {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

@mixin circle($size) {
  width: $size;
  height: $size;
  border-radius: 50%;
}
