@import "normalize";
@import "custom";
@import "variables";
@import "headers";
@import "social";
@import "logo";
@import "menu";
@import "slider";

html, body {
  height: 100%;
}

body {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-areas:  'header main'
                        'footer main';
  width: 100%;
  background-color: $bodyColor;
  padding: $customPadding;
}

header {
  grid-area: header;
  padding-right: $customPadding;
}

main {
  grid-area: main;
  background-color: $contentColor;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  padding-right: 50px;
  padding-bottom: 50px;
}

.form--search {
  padding-right: 30px;
}

footer {
  grid-area: footer;
  align-self: end;
  padding-right: $customPadding;
  padding-bottom: $customPadding;
}

@media screen and (max-width: 1440px) {
  main {
    padding-right: 30px;
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 1024px) {
  body {
    grid-template-columns: 100px 1fr;
  }
  body {
    padding: 15px;
  }
  header {
    padding-right: 15px;
  }
  footer {
    padding-right: 15px;
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 767px) {
  main {
    padding: 30px;
  }
}

@media screen and (max-width: 767px) and (orientation: portrait){
  body {
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr 50px;
    grid-template-areas:  'header'
    'main'
    'footer';
    padding: 0;
  }
  footer {
    padding-right: 0;
    padding-bottom: 0;
  }
  .form--search {
    margin: 20px auto;
  }
}