mixin sliderItem(params)
    li(class=params.active ? "slider__item slider__item--active": "slider__item" data-value=params.sliderValue)
        a(href="#")
            span.slider__text=params.sliderText
            img(src="./assets/images/slideImg.png" alt="slideImg").slider__image
