doctype
html(lang='ru')
    head
        meta(charset='UTF-8')
        meta(name="description" content="тестовое задание")
        meta(name="theme-color" content="#00bff3")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title='sitetest'
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous")
        link(href="styles/index.css" rel="stylesheet")
    body
        header
            include modules/logo
        main
            include modules/menu
            h1 Le copbusier
            include modules/slider
            include modules/searchForm
        footer
            include modules/social
        script(type="text/javascript" src="js/index.js")

